extends layout

block content
    h5 #{entityName}
    br
    br
    form
        each field in fields
            .form-group.row
                label.col-sm-2.col-form-label(for='input#{field}') #{field}
                .col-sm-10
                    input.form-control(id='input#{field}' value=entity[field])
