mixin pagination(start, numPages, current, totalPages, onPageClick)
	- start    		= start    		|| 1
	- numPages 		= numPages 		|| 10
	- totalPages 	= totalPages 	|| 1
	- current     	= current    	|| 1
	- onclick 		= onclick 		|| function(){ return '' }
	ul.pagination.mr-3.mb-0
		- if(current < 2) 
			li.page-item.disabled
				a.page-link(disabled) Previous
		- else
			li.page-item
				a.page-link(onclick=onPageClick(current - 1)) Previous
		- for(var i=start; i <= Math.min(start + numPages, totalPages); i++) {
			- if(i === current)
				li.page-item.active
					a.page-link(onclick=onPageClick(i)) #{i}
			- else
				li.page-item
					a.page-link(onclick=onPageClick(i)) #{i}
		- }
		- if (current >= totalPages)
			li.page-item.disabled
				a.page-link(disabled) Next
		- else
			li.page-item
				a.page-link(onclick=onPageClick(current + 1)) Next